<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties>
        <property name="metrics.enabled" value="true"/>
        <!-- r2dbc url-->
        <!-- <property name="r2dbc.url" value="r2dbc:mariadb://root@127.0.0.1:3306/r2dbc"/>-->
        <property name="r2dbc.pool.initial-size" value="1"/>
        <property name="r2dbc.pool.max-size" value="10"/>
        <!-- max idle time, the unit is Minute-->
        <property name="r2dbc.pool.max-idle-time" value="5"/>
    </properties>

    <typeAliases>
        <typeAlias alias="User" type="org.apache.ibatis.r2dbc.demo.User"/>
    </typeAliases>

    <typeHandlers>
        <!-- Enum ordinal type handler-->
        <typeHandler handler="org.apache.ibatis.r2dbc.type.EnumOrdinalTypeHandler"
                     javaType="java.math.RoundingMode"/>
    </typeHandlers>

    <environments default="default">
        <environment id="default">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/r2dbc"/>
                <property name="username" value="root"/>
                <property name="poolMaximumActiveConnections" value="2"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mybatis/User.xml"/>
    </mappers>
</configuration>